.item1 { grid-area: header; }
.item2 { grid-area: category; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }

.grid-container{
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'category main main main main main'
      'footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color: rgb(221, 205, 151);
    padding: 10px;
}

.grid-container > div{
    background-color: rgb(175, 171, 179);
    text-align: center;
    padding: 5px 0;
    font-size: 15px;
}

/*Header*/
.search{
    width: 40%;
    margin-left: 30%;
    padding: 10px;
  }
  
/*Categories*/
#category{
    text-align: left;
    padding: 5px;
}
#cat-head{
    text-decoration: underline;
}
ul{
    list-style: none;
}

li > a{
    text-decoration: none;
    color: black;
    text-align: left;
}

button{
    border-radius: 3px;
    
}


/*Main or Products*/

.prod-head, #prod-end{
    border-bottom: 5px double gray;
}
.row > div{
    /*background-color: rgb(186, 204, 161);*/
    text-align: center;
    padding: 5px 5px;
    font-size: 15px;
    
    
    
}
/*---------Product details-------------*/
.details{
    font-size: 20px;
    color: black;
    margin-left: 10px;
  }
  .size{
    font-size: 20px;
    color: black;
    margin-left: 0;
  }

  .icon{
      color: black;
  }
  
  .carts{
  margin: 20%;
  margin-bottom: 0;
  font-size: 30px;
  }

  .data {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#cbced3;
    border-radius: 5px;
  }
  .details{
      margin-top: 5%;
  }

  .icon:hover{
    color:#434547;
  }
  .thumbnail:hover .data{
    opacity: 1;
    transition: opacity .35s ease;
  }
/*---------------------------*/

.row{
    margin: 20px;
}

img{
    width: 80%;
    height: 80%;
    border-radius: 2px;
}

.col-md-3{
    border: 2px solid grey;
    border-radius: 5px;
    float: left;
}

.descript{
    border: 2px solid gray;
    margin: 5px;
}

#next-page{
    border: 2px solid gray;
    padding: 5px; 
}


/*Footer*/




/*Media Queries*/
@media only screen and (max-width: 700px){
    img{
        width: 30%;
        height: 30%;
    }

    .col-3 {width: 25%;}

    .grid-container{
        display: grid;
        grid-template-areas:
          'header header'
          'category category'
          'main main'
          'footer footer';
        grid-gap: 10px;
        background-color: rgb(221, 205, 151);
        padding: 10px;
    }
}